# Copia este archivo a .env y reemplaza los valores con tus credenciales reales de Izipay.
# No comites tu .env si contiene credenciales secretas.

VITE_IZIPAY_MERCHANT_CODE=2352XXXX
VITE_IZIPAY_TEST_PASSWORD=testpassword_XXXX...
VITE_IZIPAY_TEST_PUBLIC_KEY=2352XXXX:testpublickey_XXXX...
VITE_IZIPAY_TEST_SHA256=gwSUo27B8smXXX...
VITE_IZIPAY_PROXY_URL=https://api.micuentaweb.pe/api-payment/V4/Charge/CreatePayment
VITE_IZIPAY_PRODUCTION=false

# Si quieres pasar a producción, añade también estas variables:
# VITE_IZIPAY_PROD_PASSWORD=prodpassword_XXXX...
# VITE_IZIPAY_PROD_PUBLIC_KEY=2352XXXX:prodpublickey_XXXX...
# VITE_IZIPAY_PROD_SHA256=prod_sha256_key_XXXX...
